.Forgot-page-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.Forgot-page-content{
    margin-top: 100px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-shadow: 1px 1px 10px grey;
}

h1{
    color:rgb(133, 64, 197);
    text-align: left;
    font-size: x-large;
    
}