.Forgot-page-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

.Forgot-page-content{
    margin-top: 100px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-shadow: 1px 1px 10px grey;
    width:350px;
}

h1{
    color: #0d6efd;;
    text-align: left;
    font-size: x-large;
    
}